.buttonStyle {
    background-color: #1d86d1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .inputStyle {
    padding: 10px;
    border: 1px solid #1d86d1;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  @media (max-width: 768px){
    .container{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    iframe{
      margin-top: 10px;
      width: 100%;
      border-radius: 20px;
    }
  }
  