.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px){
  .container {
    flex-direction: column;
  }
}