.container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
}

@media (max-width: 1919px){
  .column {
    justify-content:left;
  }
}

@media (max-width: 768px){
  .container {
    flex-direction: column;
  }
}